.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
}

.list-group-item {
  padding-top: 0.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.25rem;
}

@media (min-width: 576px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
  .sidebar-expand-md .sidebar-toggler {
    display: none;
  }
}

